.sidebar, [data-sidebar-position] {
  position: fixed;
  display: none;
  z-index: 3000;
}
.sidebar {}

.sidebar-push {}
.sidebar-overlay {}
.sidebar-modal {}

.sidebar-closed {}
.sidebar-opened {}

.sidebar-left {
  height: 100%;
  top: 0;
  transition: left .5s;
  overflow-y: auto;
}
.sidebar-right {
  height: 100%;
  top: 0;
  transition: right .5s;
  overflow-y: auto;
}
.sidebar-top {
  width: 100%;
  left: 0;
  transition: top .5s;
}
.sidebar-bottom {
  width: 100%;
  left: 0;
  transition: bottom .5s;
}

#main-content {
  transition: margin .5s;
}

#sidebar-modal-background {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}
